@import "tailwindcss";

body {
  background-color: #151719;
  margin: 0;
  padding: 0;
  font-family:"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1136px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1f2124;
}

::-webkit-scrollbar-thumb {
  background: #5d5dff;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4b4bff;
}
